/*FONT IMPORTS*/
@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}

body {
  font-family: "Inter";
  font-size: 18px;
  background-color: #141414;
  color: #fff;
}
.container {
  width: 100%;
  margin: auto;
  max-width: 1200px;
  padding: 0 20px;
}
.logo a {
  font-family: "Calistoga";
  font-size: 36;
  color: #fff;
  text-decoration: none;
  
}

.logo a span{
  color:  #fe6a0f;
}

/*HEADER*/

header .container{
  display: flex;
  align-items: center;
  padding: 0 45px;
  gap: 50px;
}

header nav {
 flex: 1;
 display: flex;
 align-items: center;

}
header nav .leftside{
  display: flex;
  flex: 1;
  
}
